{% extends 'layout.html' %} {% block title%} Admin Login {% endblock %} {% block
content %}
<div class="wrapper fadeInDown">
  {% for msgs in get_flashed_messages() %}
  <div data-aos="fade-up" class="alert alert-info alert-dismissible fade show m-4" role="alert">
    <strong>{{ msgs }}</strong>
  </div>
  {% endfor %}
  <div class="p-5 text-center bg-transparent">
<!-- <img src="../static/img/falcon.png" class="m-4 bg-transparent" alt="" height="75" width="75"> -->
    <h1 class="mb-3">Login</h1>
  </div>
  <div id="formContent">
    <form action="" method="POST">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="admin-id"
        placeholder="Admin ID"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="register">No Falcon account?</a>
    </div>
  </div>
</div>
{% endblock %}
